
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    background-image: url('pexels-scott-webb-305821.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.header{
    height: 30vh;
    display: flex;
    align-items: center;
    
    }
    
    .logo{
        width: 100px;
        margin-top: 50px;
        margin-left: 50px;
        cursor: pointer;
    }
    
  
nav{
    flex: 1;
    padding-left: 300px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(11, 131, 236);
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

.btn1{
    text-transform: uppercase;
    border-radius: 26px;
    border: 1px solid darkblue;
    color: rgb(232, 237, 241);
    background: linear-gradient(to bottom,#2b0081 3%, #5757f1 80% );
    /* padding-top: 12px;
    padding-left:20px;
    padding-bottom: 12px;
    padding-right: 20px; */
    padding: 12px 20px;
    margin: 20px;
    font-weight: 800;
    cursor: pointer;
}
.btn2{
    text-transform: uppercase;
    border-radius: 26px;
    border: 1px solid darkblue;
    color: white;
    background: linear-gradient(to bottom, #2b0081 3%, #5757f1 100%);
    /* padding-top: 12px;
    padding-left:20px;
    padding-bottom: 12px;
    padding-right: 20px; */
    padding: 12px 20px;
    margin-right: 50px;
    font-weight: 800;
    cursor: pointer;
}

.btn1:hover{
    transform: scale(1.1);
    background: linear-gradient(to bottom, #5757f1 3%, #5757f1 100%);

}

.btn2:hover{
    transform: scale(1.1);
    background: linear-gradient(to bottom,#5757f1 3%, #5757f1 80% );
}

.content{
        display:flex ;
        width: 100%;
        align-items: center;
        position: relative;
}
.content .bigtext h1 {
    max-width: 1000px;
    text-transform: uppercase ;
    margin-left: 75px;
    margin-top: 30px;
    font-size: 33px;
    line-height: 1.5em;
    color:violet;
    text-shadow: 3px 3px 3px rgb(97, 93, 103);
}

.content .bigtext span{
    font-size: 20px;
    color:rgb(238, 14, 159);
    margin-left: 75px;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.content .bigtext span:hover{
    font-size: 20px;
    color:rgb(167, 144, 238);
    margin-left: 75px;
    font-weight: 600;
    letter-spacing: 0.1em;
}


.btnbig{

    text-transform: uppercase;
    border-radius: 26px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    color: white;
    background: linear-gradient(to bottom, #ff00b776 3%, #d900ff 100%);
    /* padding-top: 12px;
    padding-left:20px;
    padding-bottom: 12px;
    padding-right: 20px; */
    padding: 12px 20px;
    margin: 30px 300px 0px 55px;
    font-weight: 30px;
    cursor: pointer;
    box-shadow: 2px 4px 2px rgba(0, 0, 255, 0.527);
}

.btnbig:hover{
    background: linear-gradient(to bottom, #ffcc00 3%, #fff70076 100%);
}

.academy{
    display: flex;
    margin-left: 190px;
   
}

.academy img{
    border: 5px solid red;
    border-radius: 50px;
}

.academy iframe{

  border: 5px solid rgba(255, 0, 0, 0);
    border-radius: 50px;

}
  
.paragraph{
    margin:200px 400px 0px 400px;
    background-color: #ae9db1;
}
